shell = "zsh"

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"
none = ""

# lazy load plugin
[plugins.zsh-defer]
github = "romkatv/zsh-defer"

# zsh-syntax-highlighting
[plugins.zsh-syntax-highlighting]
apply = ["defer"]
github = "zsh-users/zsh-syntax-highlighting"

# cutppuccin for zsh-syntax-highlighting
[plugins.catppuccin-zsh-syntax-highlighting]
apply = ["defer"]
remote = "https://raw.githubusercontent.com/catppuccin/zsh-syntax-highlighting/main/themes/catppuccin_mocha-zsh-syntax-highlighting.zsh"

# autosuggestions
[plugins.zsh-autosuggestions]
apply = ["defer"]
github = "zsh-users/zsh-autosuggestions"

# history search
[plugins.zsh-history-substring-search]
apply = ["defer"]
github = "zsh-users/zsh-history-substring-search"

# add completion
[plugins.zsh-completions]
apply = ["defer"]
github = "zsh-users/zsh-completions"

# user settings
[plugins.dotfiles-core]
apply = ["source"]
local = "~/dotfiles/.config/zsh/core"

# user lazy settings
[plugins.dotfiles-lazy]
apply = ["defer"]
local = "~/dotfiles/.config/zsh/lazy"

# user plugins
[plugins.dotfiles-plugins]
apply = ["defer"]
local = "~/dotfiles/.config/zsh/extensions"

[plugins.compinit]
inline = 'autoload -Uz compinit && compinit'

[plugins.editor]
inline = "export EDITOR=nvim"
