.gsd-keyboard.settings-ported
Code/
GNOME-xdg-terminals.list
JetBrains/
Mattermost/
Pinta/
QtProject.conf
Typora/
VirtualBox/
autostart/
background
coderv2/
configstore/
dconf/
enchant/
eog/
evolution/
fcitx/
fcitx5/
flameshot/
font-manager/
fontconfig/
freerdp/
gedit
gh/
ghidra/
github-copilot/
gnome-control-center/
go
gopls/
gpick/
gsconnect/
gtk-3.0/
ibus-mozc-gnome-initial-setup-done
ibus/
lazygit/
libreoffice/
menus/
mimeapps.list
monitors.xml
monitors.xml~
mono.addins/
nautilus/
neofetch/
nvimdots.dev
pulse/
remmina/
sh.loft.devpod/
tabby/
thefuck/
tiling-assistant/
totem/
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
wireshark/
xdg-terminals.list
yelp/
