background
Code/
dconf/
enchant/
eog/
evolution/
flameshot/
fontconfig/
font-manager/
freerdp/
ghidra/
github-copilot/
gnome-control-center/
GNOME-xdg-terminals.list
gpick/
.gsd-keyboard.settings-ported
gtk-3.0/
ibus/
ibus-mozc-gnome-initial-setup-done
JetBrains/
lazygit/
libreoffice/
Mattermost/
menus/
mimeapps.list
monitors.xml
monitors.xml~
mono.addins/
nautilus/
neofetch/
Pinta/
pulse/
QtProject.conf
remmina/
sh.loft.devpod/
tabby/
thefuck/
tiling-assistant/
totem/
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
VirtualBox/
wireshark/
xdg-terminals.list
yelp/
