autostart/
background
Code/
coderv2/
com.smoothcsv.desktop/
configstore/
dconf/
enchant/
eog/
evolution/
fcitx/
fcitx5/
flameshot/
fontconfig/
font-manager/
freerdp/
gedit
gh/
ghidra/
git/
github-copilot/
glab-cli/
glow/
gnome-control-center/
GNOME-xdg-terminals.list
go
gopls/
gpick/
gsconnect/
.gsd-keyboard.settings-ported
gtk-3.0/
herdr/
htop/
ibus/
ibus-mozc-gnome-initial-setup-done
JetBrains/
jj/
lazygit/
libreoffice/
Mattermost/
menus/
mimeapps.list
minimal-dots
monitors.xml
monitors.xml~
mono.addins/
nautilus/
neofetch/
nvimdots.dev
Pinta/
pulse/
QtProject.conf
remmina/
sh.loft.devpod/
tabby/
thefuck/
tiling-assistant/
totem/
Typora/
typos-lsp/
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
VirtualBox/
wireshark/
xdg-terminals.list
yelp/
